body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
                -6px -6px 10px rgba(255, 255, 255, 0.7);
    width: 300px;
    position: relative;
    transition: width 0.4s ease;
    overflow: hidden;
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(100, 100, 100);
    margin-left: 60px;
    width: 160px;
    transition: width 0.4s ease;
}

.mangifier {
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 15px;
}

.microfon {
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    transition: all 0.4s ease;
}


.active.search-bar-container {
    width: 50px;
}

.active .input {
    width: 0;
}

.active .microfon {
    opacity: 0;
    pointer-events: none;
}