body {
    margin: 0;
}

#myBox {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}