#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 12m;
    color: white;
    background-color: rgb(128, 0, 255);
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(59, 77, 77);
}